# Problem set - 2

## Question - 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
 
b()
b()
b()
a
#Explanation- here 'a=0' is a global variable , where a global variable can be accessed throughout the program body by all functions.
# but inside a function the variable would be local. inorder to make that varable global we use the keyword "global".
# which makes the varible a same as inside and outside in the function. in the function b() defines the 'a=c(a)',where 'c' is a another function.
# in the function c(a) is evaluated ,in c() a is added with 2. 

#when the first function b() is evaluated,it goes to fucntion c() there value of a=0 is added with 2 and return to the function
# a is 2 now , after calling the function b() again,it undergo the function c(a) agian the value of a=4
# a is 4 now, after executing the fucntion b() agaian,the value became a=6
#now when the value a is evaluated final valaue is 6 is displayed.

6

## Question - 2

In [2]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"Sorry, the file {file_name} not found.")
        
fileLength("file1.txt")
fileLength("file.txt")

123
Sorry, the file file.txt not found.

## Question - 3

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self,item):
        self.pouch.append(item)
    def pouch_contents(self):
        print(self.pouch)
    
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"

In [5]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

## Question - 4

In [6]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        val=x//2
        collatz(val)
    else:
        val=3*x+1
        collatz(val)

collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

## Question - 5

In [7]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')
    
binary(0)

0

In [8]:
binary(1)

1

In [9]:
binary(3)

11

In [10]:
binary(9)

1001

## Question - 6

In [11]:
from html.parser import HTMLParser
store=[]
class HeadingParser(HTMLParser):
    global store
    def handle_starttag(self, tag, attrs):
        store.append(tag)
    def handle_data(self, data):
        store.append(data)        
    def handle_endtag(self,tag):
        if(tag=="html"):
            for var in store:
                for htag in ('h1','h2','h3','h4','h5','h6'):
                    if(var==htag):
                        i=store.index(htag)
                        print(store[i+1],end="\n\t")

                        
parser = HeadingParser()
infile = open('W3C.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

## Question - 7

In [12]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    if depth < 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    print(' ' * indent + url)

    if depth == 0:
        return

    for link in soup.find_all('a'):
        href = link.get('href')
        if href and href.startswith('http'):
            webdir(href, depth - 1, indent + 1)
        
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

## Question - 8

In [13]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\chith\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\chith\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\chith\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\chith\anaconda3\lib\site-packages (from ipython-sql) (2.0.18)
Requirement already satisfied: prettytable in c:\users\chith\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\chith\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: sqlparse in c:\users\chith\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\chith\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\chith\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: decorator in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: jedi>=0.16 in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pickleshare in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: matplotlib-inline in c:\users\chith\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in c:\users\chith\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\chith\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\chith\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\chith\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\chith\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)

In [19]:
import sqlite3
con = sqlite3.connect('weather.db')
cur = con.cursor()
cur.execute('''CREATE TABLE climate
            (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
             )''')
 
weather_data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
cur.executemany('INSERT INTO climate VALUES (?, ?, ?, ?, ?)', weather_data)
con.commit()
con.close()

OperationalError: table climate already exists

In [26]:
#a All the temperature data
import sqlite3
con = sqlite3.connect('weather.db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM climate')
temperature_data = cur.fetchall()
print("All the temperature data :",temperature_data)

All the temperature data : [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [25]:
#b All the cities, but without repetition
cur.execute('SELECT DISTINCT city FROM climate')
city_data = cur.fetchall()
print('All the cities, but without repetition :',city_data)

All the cities, but without repetition : [('Mumbai',), ('Mumbai',), ('Mumbai',), ('Mumbai',), ('London',), ('London',), ('London',), ('London',), ('Cairo',), ('Cairo',), ('Cairo',), ('Cairo',)]

In [31]:
#c All the records for India
cur.execute("SELECT * FROM climate WHERE  Country  = 'India'")
India_data = cur.fetchall()
print('All the records for India:',India_data)

All the records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [32]:
#d All the records for fall
cur.execute("SELECT * FROM climate WHERE  Season  = 'Fall'")
Fall_data = cur.fetchall()
print('All the records for fall:',Fall_data)

All the records for fall: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [ ]:
#g The total annual rainfall for Cairo
cur.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM climate WHERE City = 'Cairo'")
sum_rainfall = c.fetchone()[0]
print("The total annual rainfall for Cairo:",sum_rainfall)

In [35]:
#h The total rainfall for each season
cur.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM climate GROUP BY Season")
sea_rainfall = cur.fetchall()
print("The total rainfall for each season:",sea_rainfall)

The total rainfall for each season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

## Question - 9

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_words = [word.upper() for word in words]
print("The words in uppercase:",upper_words)

lower_words = [word.lower() for word in words]
print("The words in lowercase:",lower_words)

len_words = [len(word) for word in words]
print("Length of each word in words :",len_words)

newlist= [[word.upper(), word.lower(), len(word)] for word in words]
print("The content of list:",newlist)

list_2= [word for word in words if len(word) >= 4]
print("The list of words in list words containing 4 or more characters:",list_2)